# Lokale Docker-Konfiguration
APP_PORT=28830
OPENWEATHER_API=

# Datenbank im Docker-Compose-Setup
DB_HOST=db
DB_NAME=hausordnung
DB_USER=hausordnung
DB_PASS=hausordnung

# GitHub-Secrets für optionalen FTP-Upload
FTP_SERVER=192.168.112.30
FTP_PORT=28832
FTP_USERNAME=ftpuser
FTP_PASSWORD=geheim
FTP_SERVER_DIR=/
